{% extends 'base.html' %}

{% block content %}
<h3>{{ note.title }}</h3>

<div class="note-wrapper">

    <div class='note-container'>
        <h4>{{ note.title }}</h4>
        <p class='note-body'><pre>{{ note.body }}</pre></p>
    </div>
            <!-- <a href="{% url 'edit_note' pk=note.pk %}">edit your note</a>
            <a href="{% url 'delete_note' pk=note.pk %}" style="color:red;">retire your note</a>
        </p>
    {% endif %}

    <hr>

    <div class="comments-container">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="submit your constructive feedback/adulation">
        </form>

        {% for comment in comments %}
            <hr>
            <div class='note-comment-container'>
                <p class='timestamp'>Comment on ({{ comment.timestamp }}): <pre>{{ comment.body }}</pre></p>
            </div>
        {% endfor %}

    </div>

</div> -->
{% endblock %}
